body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100VH;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #520e72;
    display: flex;
}
p{
    display: flex;
    justify-content: center;
    color:white;
    margin-top: 0px;
}
.b1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    border-radius: 13px;
    padding: 12px 25px;
    cursor: pointer;
}
.b1:hover {
    background-color: #520e72;
    transform: scale(1.1);

}
.inverted {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 255); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100VH;
}
.inverted p{
    color:black;
}
.inverted h1{
   color: #000000;
}

.invertedBut{
    background-color: #d52929;
    color: black;
    padding: 50px;
    font-size: 50px;
}
.invertedBut:hover{
    background-color: #d52929;
}